body {
    background-color: aqua;
}
/* The above is used to change BACKGROUND color */
.abcd {
  background-color: beige;
  margin: 60px;
  border: darkred 5px solid;
}
/* the "abcd" is the name refering to the div section that we have in the HTML section to label the area
we selected to have this change. */
/* In the live webpage thing it has TWO boxes this is because BOTH are named div "abcd" in the HTML code. */